# Archivos de caché y temporales
bin/
obj/
**/MoodTAB/bin/
**/MoodTAB/obj/
/MoodTAB/bin/
/MoodTAB/obj/
**/bin/
**/obj/
obj/Debug/
bin\
obj\
\MoodTAB\bin\
\MoodTAB\obj\
**\bin\
**\obj\
obj\Debug\

# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore cache/temp files
*.cache
*.tmp

# Ignore build artifacts
*.dll
*.exe
*.pdb
*.log
*.cache
*.mdb

# Ignore Rider files
.idea/